* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px !important;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0) !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(22, 103, 252) !important;
}

header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  /* position: fixed; */
  width: 100%;
  z-index: 100;
  background-color: rgb(0, 0, 0);
}

.logo {
  display: flex;
  gap: 15px;
  transition: 0.7s ease-in-out;
}
.logo img {
  height: 200px;
}
#active {
  color: rgb(22, 103, 252);
  border-bottom: 1px solid;
}
nav {
  display: flex;
  gap: 25px;
}
#menu {
  display: none;
}
.sticky-div {
  position: fixed;
  bottom: 20px;
  left: 3%;
  transform: translateX(-50%); /* Center horizontally */
  /* background-color: #007bff; */
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  padding: 3px;
}
nav a:hover {
  transform: translateY(-8px) scale(1.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: rgb(22, 103, 252);
  transition: 0.7s;
}

.main {
  background: url(/img-vid/bmi.jpg);
  max-height: 100vh;
  background-size: cover;
}
.main-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  height: 20vh;
  overflow: hidden;
}
.main-content > h1 {
  font-size: 2.2em;
}
.main-content h1 span {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  background-color: rgba(0, 0, 0, 0.308);
}
.main-content h1 span::before {
  content: "";
  height: 40px;
  width: 3px;
  position: absolute;
  top: 50%;
  right: -10px;
  background: rgb(22, 103, 252);
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}
.main-content h1 span.stop-blinking::before {
  animation: none;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.main-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
  margin-top: 110px;
  padding: 25px 20px;
  background-color: rgba(0, 0, 0, 0.514);
}
.main-bottom > div {
  padding: 0 20px;
}
.left h1,
.middle h1,
.right h1 {
  line-height: 40px;
  font-size: 2.3em;
  word-wrap: break-word;
}
.main-bottom p {
  font-size: 1.3em;
  line-height: 22px;
}
hr {
  height: 17vh;
  background-color: white;
}
.btn-1 {
  padding: 12px;
  width: 6vw;
  background-color: rgba(0, 0, 0, 0.603);
  border: 1px solid rgb(22, 103, 252);
  color: white;
  font-size: 1em;
}

.btn-1:hover {
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.5s ease;
  box-shadow: 0px 0px 15px rgb(0, 0, 100);
}
.btn-1 a {
  text-decoration: none;
  color: #fff;
}
.join {
  padding: 30px;
  text-align: center;
  /* background: linear-gradient(180deg, black,rgba(22, 102, 252, 0.856),black); */
}
.join h1 {
  font-size: 35px;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 60px;
  color: white;
}
.box-1 {
  background: url(img-vid/trainer.jpg);
  width: 100%;
  height: 42vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(100%);
  flex-direction: column;
}
.box-1:hover {
  transform: scale(0.9);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  filter: grayscale(20);
  box-shadow: 0 0 15px rgb(22, 103, 252);
}
.box-2 {
  background: url(img-vid/motivation.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 42vh;
}
.box-2:hover {
  transform: scale(0.9);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  filter: grayscale(20);
  box-shadow: 0 0 15px rgb(22, 103, 252);
}
.box-3 {
  background: url(img-vid/staff.jpg);
  height: 42vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-3:hover {
  transform: scale(0.9);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  filter: grayscale(20);
  box-shadow: 0 0 15px rgb(22, 103, 252);
}
.box-4 {
  background: url(img-vid/support.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 42vh;
}
.box-4:hover {
  transform: scale(0.9);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  filter: grayscale(20);
  box-shadow: 0 0 15px rgb(22, 103, 252);
}
.contact {
  display: flex;
  flex-direction: row;
}
.left-contact {
  background: url(img-vid/contact.jpg);
  filter: grayscale(30);
  height: 75vh;
  width: 50vw;
  background-size: cover;
  color: white;
  padding: 20px;
}
.left-contact .contact-head {
  font-size: 2em;
  text-align: center;
}
.left-contact .contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2em;
  justify-content: center;
  font-weight: light;
  background-color: rgba(0, 0, 0, 0.575);
  padding: 10px;
}
.right-contact {
  width: 50vw;
  padding: 20px;
  border: 0;
  background-color: rgb(22, 103, 252);
}
.right-contact .contact-headr {
  font-size: 2em;
  text-align: center;
}
lord-icon {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.right-contact .contact-detailsr form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.right-contact form label {
  font-size: 20px;
}
.right-contact .contact-detailsr form input:focus {
  outline: none;
  background-color: aliceblue;
}
.right-contact .contact-detailsr input {
  padding: 19px;
  border: 1px solid black;
  width: 20vw;
  background-color: whitesmoke;
  font-size: 16px;
}
textarea {
  border: 1px solid black;
  font-size: 15px;
  background-color: whitesmoke;
  color: black;
}
textarea:focus {
  outline: none;
}
footer {
  text-align: center;
  background: black;
  color: white;
  padding: 15px;
}
.btn-2 {
  padding: 10px;
  width: 5vw;
  border: none;
  background-color: black;
  color: whitesmoke;
}
.btn-2:hover {
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.5s ease;
  box-shadow: 0px 0px 15px rgb(0, 0, 100);
}
@media (max-width: 1000px) {
  nav {
    position: absolute;
    top: 100px;
    background: rgb(22, 103, 252);
    left: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1000;
  }
  select {
    font-weight: 600;
  }
  nav a {
    color: white;
  }
  nav a:hover {
    color: black;
  }
  #active {
    color: black;
  }
  nav a:nth-child(1) {
    margin-top: 50px;
  }

  header label {
    width: 45px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  label div {
    width: 100%;
    height: 5px;
    background: rgb(22, 103, 252);
    position: absolute;
    transform: translateY(-50%);
    border-radius: 99px;
    transition: 0.3s;
    transform: scale(1);
  }
  label div:nth-child(1) {
    top: 0;
  }
  label div:nth-child(2) {
    top: 50%;
  }
  label div:nth-child(3) {
    top: 100%;
  }

  input:checked + header nav {
    height: 80vh;
  }
  input:checked + header label div:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }
  input:checked + header label div:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }
  input:checked + header label div:nth-child(2) {
    transform: scale(0);
    opacity: 0;
  }
  .main {
    height: 100vh;
  }
  .main-content {
    height: 15vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    bottom: 30px;
  }
  .main-content > h1 {
    font-size: 1.3em;
  }
  .main-bottom {
    padding: 0;
    margin-top: 0px;
    height: 75vh;
    flex-direction: column;
  }
  .left h1,
  .middle h1,
  .right h1 {
    font-size: 1.3em;
  }
  .main-bottom p {
    font-size: 1.1rem;
    overflow: hidden;
    font-weight: 100;
    line-height: 15px;
  }
  lord-icon {
    width: 35px;
    height: 35px;
    visibility: visible;
  }
  .btn-1 {
    width: 20vw;
    padding: 5px;
  }
  .main-content h1 span {
    bottom: 20px;
    font-size: 1.4em;
  }
  hr {
    background-color: white;
    visibility: hidden;
  }
  .join > :nth-child(2) img {
    width: 20vw;
    height: 30vh;
  }
  .join h2 {
    font-size: 20px;
  }
  .join p {
    line-height: 14px;
    text-align: left;
  }
  .boxes .box-1 img {
    width: 60px;
  }
  .boxes .box-2 img {
    width: 60px;
  }
  .boxes .box-3 img {
    width: 60px;
  }
  .boxes .box-4 img {
    width: 60px;
  }
  .boxes {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 0;
  }
  .contact {
    flex-direction: column;
    width: 100%;
  }
  .left-contact {
    align-items: flex-start;
    width: 100%;
    height: 60vh;
  }
  .left-contact .contact-details {
    font-size: 0.8rem;
  }
  .left-contact .contact-head {
    font-size: 1.6em;
  }
  .right-contact {
    padding: 10px;
    width: 100%;
  }
  .right-contact h1 {
    font-size: 1.6em;
  }

  .right-contact .contact-detailsr form input {
    padding: 9px;
    width: 100%;
  }
  textarea {
    max-width: 100%;
    height: 15vh;
  }
  .btn-2 {
    width: 16vw;
  }
  .sticky-div {
    transform: translateX(-30%);
  }
}
