
#prapper1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100%; */
    width: 100%;
    background-color: #050505;
    padding: 10px;
    /* margin: 150px auto; */
}
.wrapper ,span,p{
    color:#050505;
    /* color: rgb(244, 238, 238); */
}
.wrapper h1{
    text-align: center;
    color: rgb(19, 130, 221);
    text-decoration: none;
}
.diet-img{
    justify-content: center;
    text-align: center;
    height: fit-content;
    /* border: solid 2px wheat; */
    /* margin-left: 100px; */
    display: flex;
    
}
.dimg{
    height: 60vh;
    width: 60vh;
    display: flex;
    align-items: center;
    /* border: solid blue x; */
}
.dimg1{
    height: 70vh;
    width: 200vh;
    display: flex;
    align-items: center;
    /* border: solid blue x; */
}
.textbox{
    /* border: solid white 2px; */
    margin-left: 50px;
    margin-right: 50px;
    /* margin-top: 100px; */
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}